@import "./variables";
@import "./resets";
@function weight($weight-name) {
  @return map-get($font-weight, $weight-name);
}
html {
  font-family: "Source Code Pro", monospace;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.main-container {
  width: 100%;
  height: 400vh;
  background-color: $accent-color;

  section {
    width: 100%;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;

    header,
    footer {
      width: 100%;
      height: 10vh;
    }
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 0;

  h1 {
    font-size: 4.5rem;
  }
  p {
    font-size: 2.5rem;
  }
  nav {
    width: 30%;
    position: absolute;
    top: 1rem;
    z-index: 999;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;

  h2 {
    position: absolute;
    top: 0;
    font-size: 2.5rem;
    color: $accent-color;
    font-weight: weight(regular);
  }
}

.contact-form-main {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;

  .contact-form-container {
    width: 70%;
    height: 80vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .form {
      width: 50%;
    }

    .contact-information {
      width: 40%;
      text-align: center;
      position: relative;

      .contact-subtitle {
        font-size: 2.5rem;
        margin-bottom: 1em;
      }
    }
  }
}

input,
textarea {
  height: 50px;
  width: 80%;
  margin-bottom: 30px;
  border: none;
  border: 2px $primary-color solid;
  background-color: transparent;
  resize: none;
  font-size: 1rem;
  color: $primary-color;
  text-align: center;
}

::placeholder {
  color: $primary-color;
  text-align: center;
}

button {
  height: 50px;
  width: 100px;
  border: none;
  border: 2px $primary-color solid;
  background-color: transparent;
  margin: 0 auto;
  font-size: 1rem;
  color: $primary-color;
  text-align: center;
}

.aboutme-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

  .aboutme-sub-container {
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
    .aboutme-container {
      width: 30%;
    }

    .icon-container{
      height: 40%;
      width: 40%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: black;
      border: 1px black solid;
      border-radius: 20% / 40%;
    }
  }
}

/*----------------Shape divider app-------------*/

.custom-shape-divider-bottom-1637599097 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1637599097 svg {
  position: relative;
  display: block;
  width: calc(200% + 1.3px);
  height: 194px;
}

.custom-shape-divider-bottom-1637599097 .shape-fill {
  fill: #000000;
}

.custom-shape-divider-top-1637600178 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1637600178 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-top-1637600178 .shape-fill {
  fill: #000000;
}
